@page "/Examples/Blazor2"
@using GoogleChart.Net.Wrapper.Blazor.Pages
@using GoogleChart.Net.Wrapper.Extensions
@using GoogleChart.Net.Wrapper.Options

@{
    int i = 0;
    var dt = Data.TestData.Data1Dim.ToDataTable(conf =>
    {
        conf.AddColumn(x => i++);
        conf.AddColumn(x => x);
        conf.WithOptions<LineChartOptions>(opt =>
        {

        });

    });
}

<p>blazor2</p>


<component type="typeof(Chart)" param-ChartType="ChartType.LineChart" param-ChartDataTable="dt" render-mode="Server" />



<script src="_content/GoogleChart.Net.Wrapper.Blazor/GoogleChartBlazor.js"></script>
<script src="_framework/blazor.server.js"></script>