@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="card" style="width: 18rem">
    <h5 class="card-header">
        Examples
    </h5>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/BubbleChart1">Bubble chart 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/ColumnChart1">Column chart 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/Table1">Table 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/Table2">Table 2</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/Table3">Table 3</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/LineChart1">Line chart 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/LineChart2">Line chart 2</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/LineChart3">Line chart 3</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/LineChart4">Line chart 4</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/AreaChart1">Area chart 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/Gauge1">Gauge 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/PieChart1">Pie chart 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-page="Examples/Candlestick1">Candlestick 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="~/Examples/Blazor1">Blazor - Line chart</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="~/Examples/Blazor3">Blazor - Gauge</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="~/Examples/Api1">Api 1</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="~/Examples/ApiWithRoute">Api route</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="~/Examples/ApiWithAuthentication">Api authentication</a>
            </li>
        </ul>
    </div>
</div>
