@inject IJSRuntime JS
@code{
    [Parameter] public ChartType ChartType { get; set; }

    [Parameter] public DataTable ChartDataTable { get; set; }

    private string ElemId { get; set; }

    private string dataJson;

    private string optionsJson;

    private bool SetValueMethodCalled;

    protected override void OnInitialized()
    {
        ElemId = Guid.NewGuid().ToString();
    }

    protected override void OnParametersSet()
    {
        (dataJson, optionsJson) = ChartDataTable;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return JS.InvokeVoidAsync("window.GoogleChart.Draw", ChartType.ToString(), ElemId, dataJson, optionsJson).AsTask();
    }

    protected override bool ShouldRender()
    {
        if (SetValueMethodCalled)
        {
            SetValueMethodCalled = false;
            return false;
        }
        return base.ShouldRender();
    }

    public Task SetValueAsync(int row, int column, object value)
    {
        SetValueMethodCalled = true;
        return JS.InvokeVoidAsync("window.GoogleChart.SetValue", ElemId, row, column, value).AsTask();
    }

}
<div id="@ElemId"></div>