@inject IJSRuntime JS
@code{
    [Parameter] public ChartType ChartType { get; set; }

    [Parameter] public DataTable DataTable { get; set; }

    [Parameter] public ChartOptions Options { get; set; }

    private string ElemId { get; set; }

    private string dataJson;

    private string optionsJson;

    protected override void OnInitialized()
    {
        ElemId = Guid.NewGuid().ToString();
    }

    protected override void OnParametersSet()
    {
        dataJson = DataTable.ToJson();
        optionsJson = Options.ToJson();
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {

        return JS.InvokeVoidAsync("window.GoogleChart.Draw", ChartType.ToString(), ElemId, dataJson, optionsJson).AsTask();


    }
}
<div id="@ElemId"></div>